.progress-indicator {
	position: relative;
	width: 300px;
}

[data-download-health=good] {
	fill: #78C000;
}
[data-download-health=weak] {
	fill: #f60;
}
[data-download-health=very-weak] {
	fill: #b10;
}

.progress-text-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	
	font-family: 'Open Sans', sans-serif;
	
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;	
}

.progress-percentage {
	color: #555;
	font-size: 72px;	
}
.progress-percentage:after {
	font-size: 24px;	
	content: "%";
}
.progress-label {
	color: #888;
	margin-top: -20px;
	font-size: 30px;
}